body {
    background-color: slategray;
    font-family: 'Raleway', sans-serif;
}

footer {
    text-align: center;
}

#page-title {
    font-weight: 800;
}

.container {
    @media (max-width: 480px) {
        width: 100%;
    }
    @media (min-width: 481px) {
        width: 70%;
    }
    margin-top: 1%;
    margin-bottom: 5%;
    min-height: 500px;
    padding: 45px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.3);
}

.header-image {
    width: 100%;
    margin-bottom: 1%;
}

.aboutme-picture {
    width: 300px;
    padding: 20px;
}

.col-sm {
    text-align: center;
    padding-top: 10px;
}