<app-card>
    <!-- <div class="row">
        <div class="col-sm">
          <img class="img-fluid aboutme-picture" src="images/aboutme-picture.jpg" alt="Picture of Adrian sitting on a wall">
        </div>
        <div class="col-sm">
          <img class="img-fluid aboutme-picture" src="images/adrian-bodybuilding.jpg" alt="Picture of Adrian posing in workout attire">
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm">
          <h1>About Me</h1>
          <p>
            &emsp;Hello, my name is Adrian Johnson. I am a recent graduate from the University of North Carolina at Charlotte.
            I have a Bachelors Degree in Computer Science with a Minor in Mathematics and a Concentration in A.I., Robotics, 
            and Game Development.
          </p>
          <p>
            &emsp;Over the course of the past six years, I have worked on multiple projects in and out of school. These projects 
            range from mobile game development to financial application development. Some examples of these can be viewed on the 
            'Portfolio' page. In the process of working on these projects, I have gained experience in multiple languages and 
            technologies. <br><br>
            These Include:
          </p>
          <ul>
            <li>Application Development: JAVA, C#</li>
            <li>Mobile Development: Android Studio(JAVA), xCode(Swift)</li>
            <li>Front End Web Development: HTML, CSS, JavaScript, Bootstrap, jQuery</li>
            <li>Back End Web Development: Node.js</li>
            <li>Game Development: Unity3d(C#), GameMakerStudio(GML)</li>
            <li>Microsoft Development: Dynamics 365, EasyRepro UI Automation, Leapworks Automation</li>
          </ul>
          <p>
            &emsp;In my free time, I have a few different hobbies I enjoy, the most prevalent being bodybuilding. While I am 
            not in peak condition and I do not compete professionally, Bodybuilding is my favorite hobby. I enjoy seeing the 
            progress I am making over time as a result of the effort I put in. My Instagram account, linked on the 'Contact Me' page 
            is specifically used for my bodybuilding progression and journey as a whole.
          </p>
        </div>
      </div>
</app-card>