<app-card>
    <h2>Contact Me via Social Media</h2>
    <!-- Icons from FontAwesome.com, no changes made, License: https://fontawesome.com/license -->
    <a href="https://www.facebook.com/adrian.johnson.35513/" target="_blank">
        <span>
            <img class="social-icon" src="../../../assets/images/facebook-square-brands.svg" alt="Facebook Link">Facebook
        </span>
    </a>
    <br>
    <a href="https://www.linkedin.com/in/adrianqjohnson/" target="_blank">
        <span>
            <img class="social-icon" src="../../../assets/images/linkedin-brands.svg" alt="LinkedIn Link">LinkedIn
        </span>
    </a>
    <br>
    <a href="https://github.com/AdrianQJohnson" target="_blank">
        <span>
            <img class="social-icon" src="../../../assets/images/github-square-brands.svg" alt="GitHub Link">GitHub
        </span>
    </a>
    <br>
    <a href="https://www.instagram.com/johnsonbodybuilding/" target="_blank">
        <span>
            <img class="social-icon" src="../../../assets/images/instagram-square-brands.svg" alt="Instagram Link">Instagram
        </span>
    </a>
    <br>
</app-card>