<app-card>
  <h1 class="display-1">
    Hello! I'm Adrian, a software developer
  </h1>
  
  <p>
    Take a look around, there is a lot of interesting content throughout the site. My personal favorite is the 'Portofolio' 
    page where you can see examples of my previous work. If you have any questions, comments, or concerns feel free to 
    reach out to me via the 'Contact' page linked below!
  </p>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-dark btn-lg" [routerLink]="'about'">Learn About Me</a>
    <a class="btn btn-outline-dark btn-lg" [routerLink]="'projects'">Check Out My Portfolio</a>
    <a class="btn btn-outline-dark btn-lg" [routerLink]="'contact'">Contact Me</a>
  </div>
</app-card>